<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">
		<h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
		<p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</p>
	</header>
	<div>
		{{ post.content }}
	</div>
	<div class="disqus-link">
		<a href="{{ post.url | prepend: site.url }}#disqus_thread">Comments</a>
	</div>
</article>
