<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
			<div class="page-content-wrapper">
				{{ content }}
			</div>
    </div>

		<div class="sidebar">
			<div class="sidebar-wrapper">
				<a href="http://www.swap-bot.com"><img data-pin-nopin="true" src="/images/sidebar.gif"></a>
				<a href="http://facebook.com/Swapbot"><img data-pin-nopin="true" src="/images/facebook.gif"></a>
				<a href="http://twitter.com/SwapBotNews"><img data-pin-nopin="true" src="/images/twitter.gif"></a>
				<a href="/swap-craft-term-glossary"><img data-pin-nopin="true" src="/images/glossary.gif"></a>
				<a href="/rachels-matchbox-template"><img data-pin-nopin="true" src="/images/template.gif"></a>
				<p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">subscribe via RSS</a></p>

				<select onchange="categorySelectChangeHandler(event);">
					<option value="_none">Select category...</option>
					{% for category in site.categories %}
					<option value="{{ category | first | slugify }}">{{ category | first }}</option>
					{% endfor %}
				</select>
			</div>
		</div>

    {% include footer.html %}

		<script id="dsq-count-scr" src="//swapbotblog.disqus.com/count.js" async></script>
  </body>

	<script type="text/javascript">
		function categorySelectChangeHandler(event) {
			document.location.href = '/categories/' + event.target.value;
		}
	</script>

</html>
